html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    display: flex;
}

.deco {
    background-image: url("quentin-zwzeorQPepo-unsplash.jpg");
    background-size: 100vh;
    background-position: center;
    height: 100vh;
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4em;
}

.deco p {
    align-self: center;
    color: lightgray;
}

.logo {
    margin-top: 10em;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    background-color: rgba(100, 100, 100, 0.7);
    height: 7em;
    justify-content: center;
}

.logo img {
    border-radius: 20%;
    opacity: 0.75;
}

.logo h1 {
    font-family: "Delicious Handrawn", serif;
    font-size: 40px;
}

.content {
    width: 66vw;
    padding: 5%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    gap: 2em;
    margin-right: 4em;
    padding: 0;
    font-family: "Inconsolata", serif;
    font-weight: 400;
    justify-content: center;
}

.desc {
    padding-left: 5vw;
    padding-top: 20px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 24px;
}

.form-div{
    background-color: white;
    box-shadow: 0 8px 4px -4px gray;
    display: flex;
    padding: 20px 0 10px 5vw;
}
form {
    width: 50vw;
    font-family: "Inconsolata", serif;
    font-weight: 100;

}
form h1 {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 1.5em;
}
form div {
    display: flex;
    gap: 5%; 
    padding-bottom: 1em;
}

label, input {
    display: block;
    width: 200px;
}

.desc,
.submit {
    background-color: lightgray;
}
input {
    border: 1px solid lightgray;
}
input:invalid {
    border: 1px solid red;
}

.submit {
    padding-left: 5vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

button {
    background-color: lightpink;
    border: 1px solid lightgray;
    color: white;
    border-radius: 8%;
    padding: 10px 40px;
    width: 200px;
}

.submit p {
    font-weight: 200;
}